.bod{
    width: 980px;
    margin-left: 220px;
    margin-top: 10px;
    padding: 10px;
    font-size: 21px;
    background-image: url(../img/bgbody.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
body{
    background-image: url(../img/star.jpeg);
    background-size: cover;
    background-repeat: no-repeat;

}
#head-tag h1{
    font-family: monospace;
    font-size: 50px;
    text-align: center;

}
h2{
    text-align: center;

}
#head-tag i{
    margin-left: 380px;

    
}
.dark-mode{
    background-image: url(../img/demdep.jpeg);

}
.dark-mode1{
    color: rgb(221, 221, 221);
    background-image: url(../img/demdep.jpeg);

}
